@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 87% 97%;
    --foreground: 28 16% 21%;
    --card: 0 0% 100%;
    --card-foreground: 28 16% 21%;
    --popover: 36 83% 98%;
    --popover-foreground: 28 16% 21%;
    --primary: 17 54% 54%;
    --primary-foreground: 37 87% 97%;
    --secondary: 37 71% 64%;
    --secondary-foreground: 28 16% 21%;
    --muted: 35 42% 91%;
    --muted-foreground: 30 10% 44%;
    --accent: 37 32% 87%;
    --accent-foreground: 28 16% 21%;
    --destructive: 6 41% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 34 30% 86%;
    --input: 35 42% 91%;
    --ring: 17 54% 54%;
    --radius: 1rem;
  }

  .dark:root {
    --background: 30 9% 9%;
    --foreground: 39 33% 90%;
    --card: 30 10% 12%;
    --card-foreground: 39 33% 90%;
    --popover: 30 9% 9%;
    --popover-foreground: 39 33% 90%;
    --primary: 17 65% 65%;
    --primary-foreground: 30 9% 9%;
    --secondary: 36 59% 59%;
    --secondary-foreground: 30 9% 9%;
    --muted: 34 9% 15%;
    --muted-foreground: 33 9% 57%;
    --accent: 33 9% 19%;
    --accent-foreground: 39 33% 90%;
    --destructive: 5 39% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 33 9% 19%;
    --input: 30 10% 12%;
    --ring: 17 65% 65%;
  }
}